<div>
  <table>
    <thead>
      <th>id</th>
      <th>timestamp</th>
      <th>service</th>
      <th>request</th>
      <th>response</th>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td>{{log.id}}</td>
        <td>{{log.timestamp | date : 'yy-MM-dd HH:mm:ss'}}</td>
        <td>{{log.service}}</td>
        <td>{{log.request}}</td>
        <td>{{log.response}}</td>
      </tr>
    </tbody>
  </table>
</div>
